* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  font-family: sans-serif;
}
.sudoku-wrapper {
  width: 860px;
  margin: 100px auto;
  user-select: none;
}
.sudoku-wrapper .game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.sudoku-wrapper .game-info .game-ref-start .difficulty-menu {
  font-weight: bold;
}
.sudoku-wrapper .game-info .game-ref-start .difficulty-menu span {
  color: #344861;
}
.sudoku-wrapper
  .game-info
  .game-ref-start
  .difficulty-menu
  .difficulty-menu-select {
  color: #94a3b7;
  font-size: 16px;
  border: none;
  font-weight: bold;
}
.sudoku-wrapper .game-info .game-stats {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}
.sudoku-wrapper .game-info .game-stats > div {
  color: #94a3b7;
}
.sudoku-wrapper .game-info .game-stats > div span {
  color: #344861;
}
.sudoku-wrapper .game-info .game-stats .timer-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sudoku-wrapper .game-info .game-stats .timer-wrapper i {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeef4;
  cursor: pointer;
  transition: background-color 0.3s;
}
.sudoku-wrapper .game-info .game-stats .timer-wrapper i:hover {
  background-color: #dce3ed;
}
.sudoku-wrapper .game-info .game-stats .timer-wrapper i:not(.active) {
  display: none;
}
.sudoku-wrapper .game-wrapper {
  display: flex;
  gap: 20px;
}
.sudoku-wrapper .game-wrapper .game {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #344861;
  border-left: 2px solid #344861;
  max-width: 500px;
  width: 500px;
  aspect-ratio: 1;
}
.sudoku-wrapper .game-wrapper .game .box {
  width: calc(100% / 3);
  height: calc(100% / 3);
  border-right: 2px solid #344861;
  border-bottom: 2px solid #344861;
  display: flex;
  flex-wrap: wrap;
}
.sudoku-wrapper .game-wrapper .game .box .cell {
  width: calc(100% / 3);
  height: calc(100% / 3);
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #325aaf;
  background-color: #fff;
  cursor: pointer;
}
.sudoku-wrapper
  .game-wrapper
  .game
  .box
  .cell:is(
    :nth-child(n + 1):nth-child(-n + 2),
    :nth-child(n + 4):nth-child(-n + 5),
    :nth-child(n + 7):nth-child(-n + 8)
  ) {
  border-right: 1px solid #94a3b7;
}
.sudoku-wrapper
  .game-wrapper
  .game
  .box
  .cell:nth-child(n + 4):nth-child(-n + 6) {
  border-top: 1px solid #94a3b7;
  border-bottom: 1px solid #94a3b7;
}
.sudoku-wrapper .game-wrapper .game .box .cell.active {
  background-color: #e2ebf3;
}
.sudoku-wrapper .game-wrapper .game .box .cell.chosen {
  background-color: #c3d7ea;
}
.sudoku-wrapper .game-wrapper .game .box .cell.wrong {
  background-color: #f7cfd6;
  color: #e55c6c;
}
.sudoku-wrapper .game-wrapper .game .box .cell.selected {
  background-color: #bbdefb;
}
.sudoku-wrapper .game-wrapper .game .box .cell.correct {
  color: #325aaf;
}
.sudoku-wrapper .game-wrapper .game .box .cell[disabled] {
  color: #344861;
}
.sudoku-wrapper .game-wrapper .game-controls-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}
.sudoku-wrapper .game-wrapper .game-controls-wrapper .game-controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.sudoku-wrapper
  .game-wrapper
  .game-controls-wrapper
  .game-controls
  .game-controls-item {
  color: #325aaf;
  position: relative;
}
.sudoku-wrapper
  .game-wrapper
  .game-controls-wrapper
  .game-controls
  .game-controls-item {
  text-align: center;
}
.sudoku-wrapper .game-wrapper .game-controls-wrapper .game-controls i {
  display: block;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #eaeef4;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.sudoku-wrapper .game-wrapper .game-controls-wrapper .game-controls i:hover {
  background-color: #dce3ed;
}
.sudoku-wrapper
  .game-wrapper
  .game-controls-wrapper
  .game-controls
  .game-controls-item
  :is(.game-controls-hint-label, .game-controls-notes-label) {
  position: absolute;
  right: 0;
  top: -4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.sudoku-wrapper
  .game-wrapper
  .game-controls-wrapper
  .game-controls
  .game-controls-item
  .game-controls-hint-label {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #325aaf;
}
.sudoku-wrapper
  .game-wrapper
  .game-controls-wrapper
  .game-controls
  .game-controls-item
  .game-controls-notes-label {
  background-color: #adb6c2;
  height: 24px;
  font-size: 13px;
  width: 30px;
  border-radius: 12px;
}
.sudoku-wrapper.pencil-mode
  .game-wrapper
  .game-controls-wrapper
  .game-controls
  .game-controls-item.notes
  i {
  background-color: #eaeef4;
  border: 2px solid #325aaf;
}
.sudoku-wrapper.pencil-mode
  .game-wrapper
  .game-controls-wrapper
  .game-controls
  .game-controls-item.notes
  .game-controls-notes-label {
  background-color: #325aaf;
}
.sudoku-wrapper
  .game-wrapper
  .game-controls-wrapper
  .game-controls
  .game-controls-item
  .game-controls-label {
  font-weight: bold;
  font-size: 14px;
}
.sudoku-wrapper .game-wrapper .game-controls-wrapper .numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  flex-grow: 1;
}
.sudoku-wrapper .game-wrapper .game-controls-wrapper .numpad .num {
  font-size: 36px;
  color: #325aaf;
  background-color: #eaeef4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.sudoku-wrapper .game-wrapper .game-controls-wrapper .numpad .num:hover {
  background-color: #dce3ed;
}
.sudoku-wrapper .game-wrapper .game-controls-wrapper .numpad .num:active {
  background-color: #d2dae7;
}
.sudoku-wrapper .game-wrapper .game-controls-wrapper .numpad .num:active {
  background-color: #d2dae7;
}
.sudoku-wrapper .game-wrapper .game-controls-wrapper .new-game-button {
  background-color: #5a7bc0;
  color: #fff;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  border: none;
}
.sudoku-wrapper .game-wrapper .game-controls-wrapper .new-game-button:hover {
  background-color: #7091d5;
}
.sudoku-wrapper .game-wrapper .game-controls-wrapper .new-game-button:active {
  background-color: #4363a7;
}
